name: On PR

on:
  pull_request:
    branches:
      - main

permissions:
  packages: write
  contents: write
  pull-requests: write

jobs:
  build-and-publish:
    name: Build Test
    uses: ./.github/workflows/publish.yaml
    with:
      dockerfiles: |
        [
          {"dockerfile":"./test/test-1.Dockerfile","context":"./test","prefix":"test1-"},
          {"dockerfile":"./test/test-2.Dockerfile","postfix":"test2"}
        ]
      push: true
      tag_branch_on_pr: true